mat-form-field{
  height: auto;
  input{
    min-height: 50px;
  }
  display: block;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 5px;
}


.ok{
  border-radius: 5px;
  border: 1px solid green
}
.error{
  border-radius: 5px;
  border: 1px solid red
}
